@layer components {
    .navbar {

    }

    .navbar-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        display: block;
        width: max-content;
        margin-block: --spacing(1);
        padding: --spacing(2);
        border-radius: var(--radius-md);
        font-size: var(--text-3xl);
        transition-duration: var(--default-transition-duration);

        &:hover {
            background-color: --alpha(currentcolor / 0.15);
        }
    }

    .navbar-nav {
        display: none;
        gap: --spacing(2);
        align-items: center;
        height: 100%;

        @media (--screen-xl) {
            display: flex;
        }
    }

    .navbar-item {
        position: relative;
        transition-duration: var(--default-transition-duration);

        &:last-of-type {
            margin-left: --spacing(2);
        }
    }

    .navbar-link {
        display: flex;
        gap: --spacing(2);
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: --spacing(2) --spacing(4);
        border-radius: var(--radius-md);
        color: var(--color-blue-500);
        font-weight: 600;
        text-decoration: none;
        white-space: nowrap;
        transition-duration: var(--default-transition-duration);

        &:hover {
            background-color: --alpha(currentcolor / 0.15);
        }

        &[target="_blank"]::after {
            content: " ";
            display: block;
            width: --spacing(2.5);
            height: --spacing(2.5);
            background-image: url("$fontawesome/solid/arrow-up-right-from-square.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .is-active .navbar-link {
        color: var(--color-neutral-900);

        &:hover {
            background-color: --alpha(currentcolor / 0.15);
        }
    }

    .navbar-toggle {
        position: relative;
        z-index: 40;
        display: block;
        cursor: pointer;

        @media (--screen-xl) {
            display: none;
        }

        & .navbar-toggle-line {
            --default-transition-properties: translate, rotate, var(--default-transition-properties);
            position: absolute;
            left: 0;
            display: block;
            box-sizing: content-box;
            width: 100%;
            height: 1px;
            border-color: currentcolor;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-radius: var(--radius-md);
            background-color: currentcolor;
            pointer-events: none;
            transition-duration: var(--default-transition-duration);
            transform-origin: 100% 50%;
            translate: 0 0;
            rotate: 0;

            &:nth-of-type(1) {
                top: 0;
            }

            &:nth-of-type(2) {
                top: 50%;
                transform-origin: 50% 50%;
                translate: 0 -50%;
                rotate: 0;
            }

            &:nth-of-type(3) {
                bottom: 0;
            }
        }
    }

    .navbar-toggle[aria-expanded="true"] {
        color: var(--color-blue-500);

        & .navbar-toggle-line:nth-of-type(1) {
            translate: -15% -22%;
            rotate: -45deg;
        }

        & .navbar-toggle-line:nth-of-type(2) {
            opacity: 0;
            translate: 0 -50%;
        }

        & .navbar-toggle-line:nth-of-type(3) {
            translate: -15% 22%;
            rotate: 45deg;
        }
    }
}
