@layer components {
    .pagination {
        display: inline-flex;
        gap: --spacing(2);
        overflow: hidden;
        text-align: center;
    }

    .pagination-item {
        display: flex;
    }

    .pagination-text,
    .pagination-link {
        display: grid;
        justify-content: center;
        place-items: center;
        width: --spacing(10);
        height: --spacing(10);
        border-radius: 999px;
        font-weight: 700;
        line-height: --spacing(10);
        text-align: center;
    }

    .pagination-text {
        background-color: var(--color-neutral-300);
    }

    .pagination-link {
        position: relative;
        transition-duration: var(--default-transition-duration);

        &:hover {
            background-color: var(--color-blue-500);
            color: var(--color-white);
            text-decoration: none;
        }
    }
}
